CodeCreateTool/obj/Debug/CodeCreateTool.csproj.GenerateResource.Cache
CodeCreateTool/obj/Debug/DesignTimeResolveAssemblyReferences.cache
CodeCreateTool.v12.suo
CodeCreateTool/bin/Debug/CodeCreateTool.exe